@use "../../_partials/variables" as v;
@use "../../_partials/queries.scss" as q;

  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
  }