@use "../../_partials/variables" as v;
@use "../../_partials/queries.scss" as q;

.imgOverlay {
  position: relative;

}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
