.imgOverlay {
  position: relative;

  .prodImg {
    width: 200px;
  }

  .fave {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    border: 4px solid white;
    border-radius: 25%;
    background-color: rgb(255, 255, 255);
    &_true{
      background-color: rgb(255, 198, 40);
    }
    &_false{
      background-color: white;
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  span{
    display: flex;
    flex-direction: row;

  }

  h1{
    text-transform: uppercase;
    margin: 0;
  }
  p{
    margin: 0;
  }
  .price{
    font-size: 2em;
  }
}
