@use "../../_partials/variables" as v;
@use "../../_partials/queries.scss" as q;

.prodImg {
    width: 200px;
  }
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid v.$darkGray;
 
  .info{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
  } 
}