@use "../../_partials/variables" as v;
@use "../../_partials/queries.scss" as q;

.header {
  height: 100%;
  padding: 0em 0.5em 0em 0.5em;
  color: v.$beige;
  font-size: 4em;
  background-color: v.$darkGray;
  margin: 0;
  @include q.phone {
    font-size: 2em;
    height: 110px;
    padding: 0em 0.2em 0em 0.2em;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  @include q.laptop {
    font-size: 4em;
    height: 100%;
    padding: 0em 0.5em 0em 0.5em;
  }
}
